body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background: url('img/Untitled\ design\ \(3\).png');
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

form {
    background-color: #f8f9fa;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

form label {
    font-weight: bold;
    display: block;
    margin-bottom: 5px;
}

form input[type="email"], form input[type="password"] {
    display: block;
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 4px;
    border: 1px solid #ced4da;
}

form button {
    display: block;
    width: 100%;
    padding: 10px;
    border-radius: 4px;
    border: none;
    color: #fff;
    background-color: #007bff;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

form button:hover, a button:hover {
    background-color: #0056b3;
}

a button {
    display: block;
    width: 100%;
    padding: 10px;
    border-radius: 4px;
    border: none;
    color: #fff;
    background-color: #007bff;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-top: 20px;
}

.login-button-container {
    margin-top: 20px; 
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
}
